body{
    background-color: purple;
    align-items: center;
    justify-content: center;
}

#bola{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
}

#contenedor2{
    margin-left: 700px;
    margin-top: 35px;
}

h1{
    text-align: center;
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
    color: white;
    font:
    3em Georgia,
    "Bitstream Charter",
    "URW Bookman L",
    "Century Schoolbook L",
    serif;
}

#fila1,#fila2,#fila3,#fila4,#fila5,#fila6,#fila7,#fila8{
    display: flex;
}


.enemigos{
    display: flex;
    background-color: red;
    height: 10px;
    width: 59px;
    margin: 2px;
}


#contenedor{
    display: flex;
    position: relative;
    top: 5px;
    left: 470px;
    text-align: center;
    background-color: black;
    width: 580px;
    height: 500px;
    border: aqua solid 3px;
}

#barra{
    background-color: blue;
    height: 10px;
    width: 70px;
    left: 220px;
    top: 410px;
    position: absolute;
}