#Juego1{
    display: flex;
    margin: auto;
}

h1{
    align-items: center;
    align-content: center;
    text-align: center;
}

#Rojo{
    background-color: red;
    padding: 10%;
    width: 5px;
}

#Azul{
    background-color: blue;
    padding: 10%;
    width: 5px;
}

#Amarillo{
    background-color: yellow;
    padding: 10%;
    width: 5px;
}

#Verde{
    background-color: green;
    padding: 10%;
    width: 5px;
}