html{
    background-color: green;
    color: white;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: larger;
}

#botones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button{
    width: 50px;
    height: 50px;
}

#rayas{
    text-align: center;
    font-size: xx-large;
}

#respuesta{
    padding: 10px;
    text-align: center;
    font-size: larger;
}