body{
    background-color: rgb(184, 111, 184);
}

#caja {
    display: flex; 
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    margin: 100px auto;       
    background-color: aqua;
    border: 2px solid #333;
    margin-top: 200px;
    width: 500px;    
    height: 200px;
    border-radius: 10px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#reloj{
    margin-bottom: 20px;
    font-size: xx-large;
}

#titulo{
    margin-bottom: 20px;
    font-size: xx-large;
}

#dia{
    font-size: xx-large;
}